/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.header__wrapper {
  padding: 40px 50px;
  width: 100%;
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-11.7%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) -11.7%, rgba(0, 0, 0, 0) 100%);
  z-index: 999;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
  gap: 40px;
  list-style: none;
  font-family: WhitneySmm;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}

.menu__list .menu__item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menu__list .menu__link {
  text-decoration: none;
  color: #ffffff;
}

.menu__wrapper {
  width: 100%;
}

.header__logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 30px;
}

.header__contacts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 50px;
  font-size: 16px;
  line-height: 19px;
}

.menu__item.dropdown span {
  color: #ffffff;
}

.menu__item.dropdown span::after {
  content: url(../../images/header/menu_arrow-down.svg);
  width: auto;
  height: auto;
  padding-left: 5px;
}

.menu__item.dropdown {
  position: relative;
}

.dropdown__wrapper {
  position: absolute;
  top: 15px;
  left: -30px;
  padding-top: 20px;
}

.dropdown__wrapper .dropdown__list {
  list-style: none;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: none;
  padding: 20px 20px;
  width: 145px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  gap: 15px;
}

.dropdown__wrapper .dropdown__list .dropdown__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
}

.dropdown__wrapper .dropdown__list .dropdown__link::first-letter {
  font-size: 28px;
}

.menu__item.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item.dropdown:hover {
  text-decoration: underline;
  color: #fff;
}

.menu__item.dropdown:hover .dropdown__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu__item.dropdown:hover .dropdown__item:hover {
  font-weight: 500;
}

.menu__item.dropdown:hover .dropdown__item::first-letter {
  font-size: 18px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: WhitneySmm;
}

.header__contacts .header__contacts--phone {
  color: #ffffff;
  text-decoration: none;
}

.header__contacts .header__contacts--button {
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #ffffff;
  padding: 15px 30px;
}

.header__contacts .header__contacts--button:hover {
  cursor: pointer;
}

.hero {
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 100%;
  height: 100vh;
  padding: 0px 50px 200px 50px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.1))), url(../../images/hero/hero_main_page.png);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%), url(../../images/hero/hero_main_page.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.hero__content {
  color: #ffffff;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: Montserrat;
}

.hero__content p {
  font-size: 30px;
  line-height: 37px;
  font-family: Montserrat;
  margin-bottom: 5px;
}

.hero__content h1 {
  font-size: 48px;
  line-height: 58px;
  font-family: Montserrat;
  margin-top: 0;
  margin-bottom: 15px;
}

.hero__content span {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2em;
}

.hero__content--arrow {
  -webkit-animation: up_down 2s infinite alternate ease-in-out;
          animation: up_down 2s infinite alternate ease-in-out;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 40px;
  font-size: 40px;
  z-index: 1;
}

@-webkit-keyframes up_down {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 30px;
  }
}

@keyframes up_down {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 30px;
  }
}

.slideshow__wrapper {
  max-width: 1200px;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  height: 100%;
}

.slideshow__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.slideshow__text h4 {
  font-weight: 300;
  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
}

.slideshow__text p {
  font-family: Freight;
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
}

.slideshow__img {
  width: 400px;
  height: 100%;
}

.slideshow__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.swiper-pagination.slideshow__pagination.swiper-pagination-bullets {
  bottom: 20px;
  left: 13px;
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
}

.slideshow__pagination .swiper-pagination-bullet {
  position: relative;
  width: 6px;
  height: 6px;
  background: #000;
}

.slideshow__pagination .swiper-pagination-bullet::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slideshow__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before,
.slideshow__pagination .swiper-pagination-bullet:hover::before {
  border: 1px solid #000;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.products__items {
  margin-top: 100px;
}

.swiper-slide.products__item {
  width: 400px;
  margin-right: 0px;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  width: 400px;
}

.products__name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.products__name::first-letter {
  font-size: 18px;
}

.products__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
}

.products__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.products__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.products__price.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__time {
  color: #999;
}

.products__items.swiper .swiper-button-next,
.products__items.swiper .swiper-button-prev {
  color: #999;
}

body {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.04em;
  color: #000000;
}

section {
  margin-bottom: 200px;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

ol,
ul {
  list-style: none;
}

.hidden {
  display: none;
}

.wrapper {
  padding-left: 50px;
  padding-right: 50px;
}

@font-face {
  font-family: WhitneySmm;
  src: url("../../fonts/Whitney_Smm.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
}

@font-face {
  font-family: Freight;
  src: url("../../fonts/FreightTextProLight-Italic.woff") format("woff");
}

.products__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 100px;
}

.products__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.products__button {
  position: relative;
  padding-right: 20px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.products__button:hover {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.products__button--reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.products__button--reset img {
  width: 12px;
}

.delimiter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.delimiter > *:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #000;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products__types {
  overflow: auto;
}

.product__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 100px;
  margin-bottom: 100px;
}

.type__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.type__item img {
  max-width: 180px;
  width: 100%;
}

.type__item p {
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}

.type__item:hover {
  opacity: 1;
}

.type__item:last-child {
  padding-right: 50px;
}

.type__item.product__option {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.type__item.product__option:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.possibility {
  padding-left: 50px;
  padding-right: 50px;
}

.possibility .possibility__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 100px;
}

.possibility .possibility__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  gap: 30px;
}

.possibility h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.possibility p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.chauffeur__wrapper {
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: chauffeur__content;
      -ms-flex-align: chauffeur__content;
          align-items: chauffeur__content;
  max-width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, right top, left top, from(#000000), color-stop(62.5%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(../../images/chauffeur-service/chauffeur-service.png);
  background-image: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0.5) 62.5%, rgba(0, 0, 0, 0) 100%), url(../../images/chauffeur-service/chauffeur-service.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.chauffeur__content {
  color: #fff;
  padding-right: 65px;
  max-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.chauffeur__content h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0px;
}

.chauffeur__content p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0px;
}

.chauffeur__content .button {
  padding: 15px 30px;
  border: 1px solid #ffffff;
  width: 161px;
  height: 49px;
  color: #fff;
  font-family: WhitneySmm;
  text-transform: uppercase;
  font-weight: 350;
  font-size: 16px;
  line-height: 19px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.button:hover {
  cursor: pointer;
  background: #ffffff;
  color: #000000;
}

.footer {
  background: #101010;
}

.footer__wrapper {
  padding: 100px 50px 50px 50px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.footer__logo p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #999999;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer__logo p::first-letter {
  font-size: 24px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.footer__contacts a {
  color: #999999;
  line-height: 19px;
  text-decoration: none;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.form__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  text-transform: uppercase;
}

.form__item input {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid #999999;
}

.form__email {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__email button {
  margin-left: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-variant: small-caps;
  background: transparent;
  border: none;
  color: #ffffff;
}

.footer__links {
  margin: 0 auto;
  padding: 30px 50px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links a {
  display: inline-block;
  color: #999999;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

.footer__links a:not(:last-child) {
  margin-right: 50px;
}
/*# sourceMappingURL=main.css.map */