.footer {
  padding: 100px 0 50px;
  background: #000;
  color: $footer_text_color;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & img {
    width: 150px;
  }
  & p {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    &::first-letter {
      font-size: 24px;
    }
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 50px;

  & .footer__contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    & a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.footer__socials {
  display: flex;
  gap: 20px;
}

.footer__links {
  padding-top: 30px;
  margin-top: 70px;
  border-top: 1px solid $footer_text_color;
}

.footer .form {
  margin-top: 0;
  max-width: 600px;
  width: 100%;
}

.footer .form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0;

  & .form__row {
    gap: 30px;

    & .form__input {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      width: 100%;

      & label {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 500;
        transition: 300ms;

        &:hover,
        &:focus {
          color: #fff;
          cursor: pointer;
        }
      }

      & input {
        color: #fff;
        background: none;
        border: none;
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
        margin: 0;
        transition: 300ms;
        width: 100%;

        &:hover,
        &:focus {
          border-bottom: 1px solid #fff;
          cursor: text;
        }
      }
    }

    & button {
      display: flex;
      background: none;
      border: none;
      color: #999;
      text-transform: uppercase;
      gap: 15px;
      align-items: center;
      font-weight: 500;
      transition: 300ms;

      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  display: flex;
  gap: 50px;

  & a {
    color: #999;
  }
}
