.header__wrapper {
  padding: 40px 50px;
  width: 100%;
  position: fixed;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) -11.7%, rgba(0, 0, 0, 0) 100%);
  z-index: 999;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.menu__list {
  display: flex;
  align-items: center;
  padding-left: 0px;
  gap: 40px;
  list-style: none;
  font-family: WhitneySmm;
  margin: 0;
  font-size: 14px;
  line-height: 17px;

  & .menu__item:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  & .menu__link {
    text-decoration: none;
    color: $header-text-color;
  }
}

.menu__wrapper {
  width: 100%;
}

.header__logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 30px;
}

.header__contacts {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  font-size: 16px;
  line-height: 19px;
}

.menu__item.dropdown span {
  color: $header-text-color;

  &::after {
    content: url(../../images/header/menu_arrow-down.svg);
    width: auto;
    height: auto;
    padding-left: 5px;
  }
}

.menu__item.dropdown {
  position: relative;
}

.dropdown__wrapper {
  position: absolute;
  top: 15px;
  left: -30px;
  padding-top: 20px;

  & .dropdown__list {
    list-style: none;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    display: none;
    padding: 20px 30px;
    width: 145px;
    min-width: max-content;
    gap: 15px;

    & .dropdown__link {
      color: $header-text-color;
      text-decoration: none;
      text-transform: uppercase;
      font-family: Montserrat;
      font-size: 14px;
      line-height: 17px;

      &::first-letter {
        font-size: 28px;
      }
    }
  }
}

.menu__item.dropdown {
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
    color: #fff;

    & .dropdown__list {
      display: flex;
      flex-direction: column;
      transition: 300ms;
    }

    & .dropdown__item:hover {
      font-weight: 500;
    }
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  font-family: WhitneySmm;

  & .header__contacts--phone {
    color: $header-text-color;
    text-decoration: none;
  }

  & .header__contacts--button {
    color: $header-text-color;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid $header-text-color;
    padding: 15px 30px;

    &:hover {
      cursor: pointer;
    }
  }
}
