section {
  padding-left: 240px;
  padding-right: 240px;
}
.swiper {
  width: 400px;
  height: 500px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: $header-text-color;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide--content {
  position: relative;
  right: 0px;

  & p {
    color: $main-text-color;
  }
}

.swiper-slide:nth-child(1n) {
  background-image: url('../../images/Villa_1\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.swiper-slide:nth-child(2n) {
  background-image: url('../../images/swiper_car.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.swiper-slide:nth-child(3n) {
  background-image: url('../../images/marcheeta.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.swiper-pagination {
  position: relative;
}
