body {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.04em;
  color: $main-text-color;
}

section {
  margin-bottom: 200px;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.wrapper {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.button {
  padding: 15px 30px;
  border: 1px solid #ffffff;
  width: 160px;
  height: 49px;
  color: #fff;
  font-family: WhitneySmm;
  text-transform: uppercase;
  font-weight: 350;
  font-size: 16px;
  line-height: 19px;
  width: fit-content;
  transition: 300ms;
  background: transparent;

  &:hover {
    cursor: pointer;
    background: $header-text-color;
    color: $main-text-color;
  }
}

h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

@font-face {
  font-family: WhitneySmm;
  src: url('../../fonts/Whitney_Smm.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  src: url('../../fonts/Montserrat-VariableFont_wght.woff') format('woff');
}

@font-face {
  font-family: Freight;
  src: url('../../fonts/FreightTextProLight-Italic.woff') format('woff');
}
