$main-text-color: #000000;
$header-text-color: #ffffff;

@font-face {
  font-family: WhitneySmm;
  src: url('../../images/Whitney_Smm.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');
}

@font-face {
  font-family: Freight;
  src: url('../../images/FreightTextProLight-Italic.ttf');
}
