.cars-filter__header {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;

  & h1 {
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
  }

  & .cars-filter__type {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    // & input[type='radio']:checked + label {
    //   font-weight: bold;
    // }

    & .cars-filter__item:not(:last-child)::after {
      content: '';
      display: inline-block;
      height: 18px;
      width: 1px;
      margin-left: 20px;
      background: #000;
    }
  }
}

.cars-type,
.cars-brand {
  padding-left: 50px;
}

.cars-type__scroll,
.cars-brand__scroll {
  display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  overflow: auto;

  margin-right: 0px;
  align-items: flex-end;
  grid-column-gap: 100px;
  white-space: nowrap;
}

.cars-type__item,
.cars-brand__item {
  text-transform: uppercase;
  text-align: center;

  & img {
    margin-bottom: 20px;
    width: 200px;
    height: 130px;
  }

  & p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &:last-child {
    margin-right: 50px;
  }
}
