.possibility {
  & h4 {
    text-align: center;
    margin-bottom: 100px;
  }

  & .possibility__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    text-align: center;

    gap: 60px;
  }

  & h5 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;

    &::first-letter {
      font-size: 20px;
    }
  }

  & p {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
