.products__header {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.products__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.products__button {
  position: relative;
  padding-right: 20px;
  transition: 300ms;

  &.active {
    font-weight: 600;
  }
}

.products__button:hover {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.products__button--reset {
  display: flex;
  align-items: center;
  gap: 10px;

  & img {
    width: 12px;
  }
}

.delimiter {
  display: flex;
  align-items: center;
  gap: 20px;

  & > *:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #000;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.products__types {
  overflow: auto;
}

// villas
.villas .product__type {
  justify-content: normal;
}

.product__type {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 100px;
}

.type__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  flex-shrink: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: 300ms;

  & img {
    max-width: 180px;
    width: 100%;
  }

  & p {
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
  }

  &:hover {
    opacity: 1;
  }

  &:last-child {
    padding-right: 50px;
  }

  &.product__option {
    filter: grayscale(1);

    &:hover {
      filter: grayscale(0);
    }
  }
}
